body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(236, 245, 247);
}

h1, h2, h3 {
    color: #333;
}

.place {
    color: #333;
    font-style: oblique;
    font-size: 20px;
}

.legend {
    color: #333;
    text-align: center;
    font-size: 40px;
}

.errors {
    text-align: center;
    color: brown;
}

.navigation_bar {
    overflow: hidden;
    background-color: rgb(110, 167, 185);
}
  
.navigation_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
  
.navigation_bar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navigation_bar a.active {
    background-color: white;
    color: rgb(110, 167, 185);
}