{% extends "layout.html" %}
{% block content %}
    <div class="navigation_bar">
        {% if current_user.is_authenticated %}
            <a href="\">Home</a>
            <a class="active" href="\about">New Post</a>
            <a href="\account">Account</a>
            <a href="\logout">Log Out</a>
        {% else %}
            <a href="\">Home</a>
            <a href="\register">Register</a>
            <a href="\login">Log In</a>
        {% endif %}
    </div>
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="legend">New Post</legend>
                <div>
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-select-lg is-invalid") }}
                        <div>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-select-lg is-invalid") }}
                        <div>
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}