{% extends "layout.html" %}
{% block content %}
    <div class="navigation_bar">
        {% if current_user.is_authenticated %}
            <a class="active" href="\">Home</a>
            <a href="\about">New Post</a>
            <a href="\account">Account</a>
            <a href="\logout">Log Out</a>
        {% else %}
            <a class="active" href="\">Home</a>
            <a href="\register">Register</a>
            <a href="\login">Log In</a>
        {% endif %}
    </div>
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
{% endblock content %}