{% extends "layout.html" %}
{% block content %}
    <div class="navigation_bar">
        {% if current_user.is_authenticated %}
            <a class="active" href="\">Home</a>
            <a href="\about">New Post</a>
            <a href="\account">Account</a>
            <a href="\logout">Log Out</a>
        {% else %}
            <a class="active" href="\">Home</a>
            <a href="\register">Register</a>
            <a href="\login">Log In</a>
        {% endif %}
    </div>
    {% for post in posts %}
        <img class="rounded-circle" src="{{ url_for('static', filename='pics' + post.author.image) }}">
        <h1><a>{{ post.title }}</a></h1>
        <p>By {{ post.author.username }} on {{ post.date.strftime('%Y-%m-%d') }}</p>
        <p>{{ post.content }}</p>
        {% if current_user.is_authenticated and current_user.id == post.author.id %}
            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('post', post_id=post.id) }}">Change</a>
            <br>
            <br>
        {% endif %}
    {% endfor %}
{% endblock content %}